# Ignore Gradle project-specific cache directory
.gradle

# Ignore build output directory
/build
/out
/sam-packaged.yaml

# Ignore IntelliJ files
/.idea
/*.iml

# Ignore credentials files
credentials*.properties